In [1]:
!ls ./datasets/kaggle/

MMasseyOrdinals.csv		  WNCAATourneyCompactResults.csv
MNCAATourneyCompactResults.csv	  WNCAATourneySeeds.csv
MNCAATourneySeeds.csv		  WRegularSeasonCompactResults.csv
MRegularSeasonCompactResults.csv  WTeams.csv
MTeams.csv

In [2]:
!ls ./datasets/torvik/mens/

team_2014.csv  team_2021.csv	    top30_wins_2015.csv  top30_wins_2022.csv
team_2015.csv  team_2022.csv	    top30_wins_2016.csv  top30_wins_2023.csv
team_2016.csv  team_2023.csv	    top30_wins_2017.csv  top30_wins_2024.csv
team_2017.csv  team_2024.csv	    top30_wins_2018.csv  top30_wins_2025.csv
team_2018.csv  team_2025.csv	    top30_wins_2019.csv
team_2019.csv  top30_wins_2014.csv  top30_wins_2021.csv

In [3]:
!ls ./datasets/torvik/womens/

team_2021.csv  team_2024.csv	    top30_wins_2022.csv  top30_wins_2025.csv
team_2022.csv  team_2025.csv	    top30_wins_2023.csv
team_2023.csv  top30_wins_2021.csv  top30_wins_2024.csv

In [4]:
import pandas as pd
import numpy as np

In [5]:
teams = {}
teams["M"] = pd.read_csv("./datasets/kaggle/MTeams.csv")
teams["W"] = pd.read_csv("./datasets/kaggle/WTeams.csv")

In [6]:
teams["M"].head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2025
1    1102    Air Force           1985          2025
2    1103        Akron           1985          2025
3    1104      Alabama           1985          2025
4    1105  Alabama A&M           2000          2025

In [7]:
teams["W"].head()

   TeamID     TeamName
0    3101  Abilene Chr
1    3102    Air Force
2    3103        Akron
3    3104      Alabama
4    3105  Alabama A&M

In [8]:
MTeamIDToName = {}
MTeamNameToID = {}

for row in range(teams["M"].shape[0]):
    teamID = teams["M"].iloc[row]["TeamID"].item()
    teamName = teams["M"].iloc[row]["TeamName"]
    MTeamIDToName[teamID] = teamName
    MTeamNameToID[teamName] = teamID

In [9]:
WTeamIDToName = {}
WTeamNameToID = {}

for row in range(teams["W"].shape[0]):
    teamID = teams["W"].iloc[row]["TeamID"].item()
    teamName = teams["W"].iloc[row]["TeamName"]
    WTeamIDToName[teamID] = teamName
    WTeamNameToID[teamName] = teamID

In [10]:
m_massey_ordinals = pd.read_csv("./datasets/kaggle/MMasseyOrdinals.csv")
m_massey_ordinals[m_massey_ordinals["SystemName"] == "POM"].tail()

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
5520900    2025            121        POM    1476          318
5520901    2025            121        POM    1477          330
5520902    2025            121        POM    1478          353
5520903    2025            121        POM    1479          342
5520904    2025            121        POM    1480          350

In [11]:
m_massey_ordinals[lambda df: df['SystemName'] == "RPI"]['Season'].unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2023, 2024, 2025])

In [12]:
ncaa_regular_season = {}
ncaa_regular_season["M"] = pd.read_csv("./datasets/kaggle/MRegularSeasonCompactResults.csv")
ncaa_regular_season["W"] = pd.read_csv("./datasets/kaggle/WRegularSeasonCompactResults.csv")

In [13]:
ncaa_regular_season["M"][lambda df: df["Season"] == 2024].head()

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
181682    2024       0     1101      64     1329      59    A      0
181683    2024       0     1103      81     1355      75    A      0
181684    2024       0     1104     105     1287      73    H      0
181685    2024       0     1112     122     1288      59    H      0
181686    2024       0     1114      71     1402      66    H      0

In [14]:
ncaa_regular_season["W"][lambda df: df["Season"] == 2024].head()

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
126170    2024       0     3102      65     3176      63    H      0
126171    2024       0     3104      93     3106      39    H      0
126172    2024       0     3107      58     3467      55    A      0
126173    2024       0     3110      81     3255      68    H      0
126174    2024       0     3111      71     3422      65    H      0

In [15]:
ncaa_tourney_compact = {}
ncaa_tourney_compact["M"] = pd.read_csv("./datasets/kaggle/MNCAATourneyCompactResults.csv")
ncaa_tourney_compact["W"] = pd.read_csv("./datasets/kaggle/WNCAATourneyCompactResults.csv")

In [16]:
ncaa_tourney_compact["M"][lambda df: df["Season"] == 2024].head()

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
2451    2024     134     1161      67     1438      42    N      0
2452    2024     134     1447      71     1224      68    N      0
2453    2024     135     1160      60     1129      53    N      0
2454    2024     135     1212      88     1286      81    N      0
2455    2024     136     1112      85     1253      65    N      0

In [17]:
ncaa_tourney_compact["W"][lambda df: df["Season"] == 2024].head()

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
1583    2024     135     3342      49     3357      42    N      0
1584    2024     135     3435      72     3162      68    N      0
1585    2024     136     3112      69     3120      59    N      0
1586    2024     136     3221      72     3404      45    N      0
1587    2024     137     3104      82     3199      74    N      0

In [18]:
ncaa_tourney_seeds = {}
ncaa_tourney_seeds["M"] = pd.read_csv("./datasets/kaggle/MNCAATourneySeeds.csv")
ncaa_tourney_seeds["W"] = pd.read_csv("./datasets/kaggle/WNCAATourneySeeds.csv")

In [19]:
ncaa_tourney_seeds["M"][lambda df: df["Season"] == 2024].head()

      Season Seed  TeamID
2490    2024  W01    1163
2491    2024  W02    1235
2492    2024  W03    1228
2493    2024  W04    1120
2494    2024  W05    1361

In [20]:
ncaa_tourney_seeds["W"][lambda df: df["Season"] == 2024].head()

      Season Seed  TeamID
1608    2024  W01    3376
1609    2024  W02    3323
1610    2024  W03    3333
1611    2024  W04    3231
1612    2024  W05    3328

# Join Datasets

In [88]:
# Iterate through all Torvik team names, and check if it exists in the Kaggle Teams dataset.
# If no match exists, find the match and populate the conversion map.
# After some thinking, I realize it's more efficient to check the names of teams in the tournament, not all D1 schools.

# torvikToKaggleTeamName = {
#     "Arkansas Pine Bluff": "Ark Pine Bluff",
#     "Central Michigan": "C Michigan",
#     "FIU": "Florida Intl",
#     "Illinois Chicago": "IL Chicago",
#     "Florida Atlantic": "FL Atlantic",
#     "Cal St. Northridge": "CS Northridge",
#     "Abilene Christian": "Abilene Chr",
#     "UMKC": "Missouri KC",
#     "Northern Illinois": "N Illinois",
#     "Kent St": "Kent",
#     "Central Arkansas": "Cent Arkansas",
#     "American": "American Univ",
#     "UTSA": "UT San Antonio",
#     "Prairie View A&M": "Prairie View",
#     "Georgia Southern": "Ga Southern",
#     "Tennessee Martin": "TN Martin",
#     "LIU": "LIU Brooklyn",
#     "Loyola Chicago": "Loyola-Chicago",
#     "Maryland Eastern Shore": "MD E Shore",
#     "Fairleigh Dickinson": "F Dickinson",
#     "Queens": "Queens NC",
#     "Nebraska Omaha": "NE Omaha",
# }

# Make sure we can match Torvik teams names with the Kaggle dataset team names
kaggleToTorvikTeamNames = {
    "FL Atlantic": "Florida Atlantic",
    "St Mary's CA": "Saint Mary's",
    "Col Charleston": "Charleston",
    "S Dakota St": "South Dakota St.",
    "Grambling": "Grambling St.",
    "NC State": "N.C. State",
    "WKU": "Western Kentucky",
    "F Dickinson": "Fairleigh Dickinson",
    "TAM C. Christi": "Texas A&M Corpus Chris",
    "Kent": "Kent St.",
    "Kennesaw": "Kennesaw St.",
    "CS Fullerton": "Cal St. Fullerton",
    "TX Southern": "Texas Southern",
    "Loyola-Chicago": "Loyola Chicago",
    "SF Austin": "Stephen F. Austin",
    "N Dakota St": "North Dakota St.",
    "Abilene Chr": "Abilene Christian",
    "FGCU": "Florida Gulf Coast",
    "Ark Little Rock": "Little Rock",
    "MTSU": "Middle Tennessee",
    "St Joseph's PA": "Saint Joseph's",
    "WI Green Bay": "Green Bay",
    "CS Bakersfield": "Cal St. Bakersfield",
    "ETSU": "East Tennessee St.",
    "Mt St Mary's": "Mount St. Mary's",
    "SUNY Albany": "Albany",
    "Coastal Car": "Coastal Carolina",
    "G Washington": "George Washington",
    "WI Milwaukee": "Milwaukee",
    "W Michigan": "Western Michigan",
    "American Univ": "American",
    "C Michigan": "Central Michigan",
    "IUPUI": "IU Indy",
    "CS Sacramento": "Sacramento St.",
    "SE Louisiana": "Southeastern Louisiana",
    "Southern Univ": "Southern",
    "LIU Brooklyn": "LIU",
    "Prairie View": "Prairie View A&M",
    "SE Missouri St": "Southeast Missouri St.",
    "Monmouth NJ": "Monmouth",
    "TN Martin": "Tennessee Martin",
}

def preprocess_torvik_dataframe(year, torvik_df, kaggle_teamNames_round_64, gender):
    torvik_teams = torvik_df["TeamName"]
    matches_torvik_teamName = lambda kaggle_teamName: ((torvik_teams == kaggle_teamName).sum().item() == 1)
    
    def mutate_torvik_teamName(old, new):
        torvik_df.loc[torvik_df["TeamName"] == old, "TeamName"] = new
        assert torvik_df.loc[torvik_df["TeamName"] == new].shape[0] == 1
    
    for kaggle_teamName in kaggle_teamNames_round_64:
        if matches_torvik_teamName(kaggle_teamName):
            continue
            
        if kaggle_teamName.startswith("St "):
            test_teamNames = [
                "Saint" + kaggle_teamName[kaggle_teamName.index("St") + len("St"):],
                "St." + kaggle_teamName[kaggle_teamName.index("St") + len("St"):],
            ]
            matched = False
            for test_teamName in test_teamNames:
                if matches_torvik_teamName(test_teamName):
                    print(f"Mutating Torvik dataframe team name from '{test_teamName}' -> '{kaggle_teamName}'")
                    mutate_torvik_teamName(test_teamName, kaggle_teamName)
                    matched = True
                    break
                    
            if matched:
                continue
                
        if kaggle_teamName.endswith("St"):
            # Looks like Kaggle uses St, while Torvik uses St.
            # We'll just remove the period at the end
            test_teamName = kaggle_teamName + "."
            if matches_torvik_teamName(test_teamName):
                print(f"Mutating Torvik dataframe team name from '{test_teamName}' -> '{kaggle_teamName}'")
                mutate_torvik_teamName(test_teamName, kaggle_teamName)
                continue

        if kaggle_teamName.startswith("NC "):
            test_teamName = "North Carolina" + kaggle_teamName[kaggle_teamName.index("NC") + len("NC"):]
            if matches_torvik_teamName(test_teamName):
                print(f"Mutating Torvik dataframe team name from '{test_teamName}' -> '{kaggle_teamName}'")
                mutate_torvik_teamName(test_teamName, kaggle_teamName)
                continue
                
        if kaggle_teamName.startswith("S "):
            # Looks like Kaggle uses S, while Torvik uses South
            test_teamName = "South" + kaggle_teamName[kaggle_teamName.index("S") + len("S"):]
            if matches_torvik_teamName(test_teamName):
                print(f"Mutating Torvik dataframe team name from '{test_teamName}' -> '{kaggle_teamName}'")
                mutate_torvik_teamName(test_teamName, kaggle_teamName)
                continue

        if kaggle_teamName.startswith("N "):
            # Looks like Kaggle uses S, while Torvik uses South
            test_teamNames = [
                "North" + kaggle_teamName[kaggle_teamName.index("N") + len("N"):],
                "Northern" + kaggle_teamName[kaggle_teamName.index("N") + len("N"):],
            ]
            matched = False
            for test_teamName in test_teamNames:
                if matches_torvik_teamName(test_teamName):
                    print(f"Mutating Torvik dataframe team name from '{test_teamName}' -> '{kaggle_teamName}'")
                    mutate_torvik_teamName(test_teamName, kaggle_teamName)
                    matched = True
                    break

            if matched:
                continue

        if kaggle_teamName.startswith("E "):
            # Looks like Kaggle uses S, while Torvik uses South
            test_teamName = "Eastern" + kaggle_teamName[kaggle_teamName.index("E") + len("E"):]
            if matches_torvik_teamName(test_teamName):
                print(f"Mutating Torvik dataframe team name from '{test_teamName}' -> '{kaggle_teamName}'")
                mutate_torvik_teamName(test_teamName, kaggle_teamName)
                continue

        if kaggle_teamName in kaggleToTorvikTeamNames:
            print(f"Manual override for '{kaggleToTorvikTeamNames[kaggle_teamName]}' -> '{kaggle_teamName}'")
            torvik_team = torvik_teams[torvik_teams == kaggleToTorvikTeamNames[kaggle_teamName]]
            if torvik_team.shape[0] != 1:
                raise Exception(f"Expected matching Torvik team name in dataframe as dictionary is populated with key {kaggle_teamName}")
            mutate_torvik_teamName(kaggleToTorvikTeamNames[kaggle_teamName], kaggle_teamName)
            continue
        
        similar = torvik_teams[torvik_teams.str.startswith(kaggle_teamName[0])]
        raise Exception(f"No team name conversion found for Kaggle team name '{kaggle_teamName}' in year {year}, gender {gender}\nThe following are Torvik team names that start with the same character\n{similar}")

    return torvik_df

In [89]:
def get_torvik_data_by_year(year, kaggle_teamNames_round_64, gender):
    assert gender == "M" or gender == "W"
    input_dir = f"./datasets/torvik/{"mens" if gender == "M" else "womens"}"
    torvik_team = pd.read_csv(f"{input_dir}/team_{year}.csv")
    torvik_team = torvik_team.dropna(axis=1, how="all")
    
    # Add a winning percentage column
    torvik_team["WinPercentage"] = 100.0 * torvik_team["Wins"] / torvik_team["Games Played"]

     # Add a top 30 wins column
    torvik_top30_wins = pd.read_csv(f"{input_dir}/top30_wins_{year}.csv")
    torvik_top30_wins = torvik_top30_wins.dropna(axis=1, how="all")
    torvik_top30_wins.rename(columns={"Wins": "Top30Wins"}, inplace=True)
    torvik_team = torvik_team.merge(torvik_top30_wins[["TeamName", "Top30Wins"]], how="left", on="TeamName")
    
    torvik_team.fillna({"Top30Wins": 0}, inplace=True) # teams that have zero games played against top 30 do not appear in the top 30 dataset

    return preprocess_torvik_dataframe(year, torvik_team, kaggle_teamNames_round_64, gender)

In [104]:
# For each year Y: 
# For each team T that played in the tournament in year Y (ignore teams eliminated in play-in round):
# Record the number of wins by team T in the tournament in year Y, and collect the covariates for OLRE model

# Covariates:
# winning percentage at the end of the regular season (WINPCT), get this from Torvik instead of Kaggle
# point differential at the end of the regular season (DIFF)
# wins above bubble (WAB)
# number of wins against teams rated in the Top 30 based on Torvik's ratings at the end of the regular season (TOP30WIN)

def get_dataframe_by_year(year, gender):
    assert gender == "M" or gender == "W"
    tourney_seeds = ncaa_tourney_seeds[gender][lambda df: df["Season"] == year].reset_index(drop=True)
    tourney_compact = ncaa_tourney_compact[gender][lambda df: df["Season"] == year].reset_index(drop=True)
    pom_rank = m_massey_ordinals[lambda df: (df["Season"] == year) & (df["SystemName"] == "POM")]
    
    teamIDs_in_tournament = []
    teamNames_in_tournament = []
    
    for i in range(tourney_seeds.shape[0]):
        teamID = tourney_seeds.at[i, "TeamID"]
        seed = tourney_seeds.at[i, "Seed"]
        # if len(seed) > 3:
        #     # Team competed in the play-in round, check if they made it past this round
        #     team_tournament_games_won = tourney_compact[lambda df: df["WTeamID"] == teamID]
        #     if team_tournament_games_won.shape[0] == 0:
        #         # this means the play-in team won zero games (i.e. didn't make it past play-in round)
        #         continue
                
        teamIDs_in_tournament.append(teamID)
        teamNames_in_tournament.append(teams[gender][lambda df: df["TeamID"] == teamID].iloc[0]["TeamName"])
    
    if len(teamIDs_in_tournament) != 68 and len(teamIDs_in_tournament) != 64:
        raise Exception(f"Expected 68 or 64 team IDs, found {len(teamIDs_in_tournament)}")
    if len(teamNames_in_tournament) != 68 and len(teamIDs_in_tournament) != 64:
        raise Exception(f"Expected 68 or 64 team names, found {len(teamNames_in_tournament)}")
    
    # For each of these 64 teams, compute how many games they won in the tournament (ignoring play-in games)
    n_tournament_games_won = []
    for teamID in teamIDs_in_tournament:
        # Tournament games won
        team_tournament_games_won = tourney_compact[lambda df: df["WTeamID"] == teamID]
        seed = tourney_seeds[lambda df: df["TeamID"] == teamID].iloc[0]["Seed"]
        n_games_won = team_tournament_games_won.shape[0]
        
        if len(seed) > 3 and n_games_won > 0:
            n_games_won -= 1
        if gender == "M" and year == 2021 and teamID == MTeamNameToID["Oregon"]:
            n_games_won += 1 # COVID forfeit by VCU in first round
        
        n_tournament_games_won.append(n_games_won)
    
    n_tournament_games_won = np.array(n_tournament_games_won, dtype=np.uint8)
    
    if n_tournament_games_won.sum() != 32 + 16 + 8 + 4 + 2 + 1:
        raise Exception(f"Expected total of {32 + 16 + 8 + 4 + 2 + 1} games won across all teams in the tournament, found {n_tournament_games_won.sum()}")
    
    # For each of these 64 teams, compute point differential winning percentage
    regular_season_point_differential = []
    for teamID in teamIDs_in_tournament:
        w_games = ncaa_regular_season[gender][lambda df: (df["Season"] == year) & (df["WTeamID"] == teamID)]
        l_games = ncaa_regular_season[gender][lambda df: (df["Season"] == year) & (df["LTeamID"] == teamID)]
        total_point_differential = (w_games["WScore"] - w_games["LScore"]).sum() + (l_games["LScore"] - l_games["WScore"]).sum()
        regular_season_point_differential.append(int(total_point_differential))

    # For each of these 64 teams, get the KenPom ordinal ranking
    # Only available for mens
    ken_pom_ordinal_rank = []
    for teamID in teamIDs_in_tournament:
        try:
            rank = 0 if gender == "W" else pom_rank[lambda df: df["TeamID"] == teamID].iloc[-1]["OrdinalRank"]
            rank = (rank - 1) // 4 + 1
            ken_pom_ordinal_rank.append(rank)
        except Exception as e:
            print(f"Error fetching KenPom ordinal rank for {gender}{year} teamID={teamID} with team name '{MTeamIDToName[teamID]}'")
            print(e)
            exit(1)

    kaggle_df = pd.DataFrame({
        "TeamID": pd.Series(teamIDs_in_tournament),
        "TeamName": pd.Series(teamNames_in_tournament),
        "Tournament Wins": pd.Series(n_tournament_games_won),
        "PointDIFF": pd.Series(regular_season_point_differential),
        "PomOrdinalRank": pd.Series(ken_pom_ordinal_rank)
    })

    torvik_df = get_torvik_data_by_year(year, teamNames_in_tournament, gender)
    Xy = torvik_df.merge(kaggle_df, on="TeamName", how="right")
    Xy["3P%ODDIFF"] = Xy["3P%"] * Xy["3PR"] - Xy["3P%D"] * Xy["3PRD"]

    Xy.to_csv(f"./datasets/Xy_all_{gender}_{year}.csv", index=False)
    
    if Xy.shape[0] != 68 and Xy.shape[0] != 64:
        raise Exception(f"Expected 68 or 64 rows in dataframe (one for each team). Found {Xy.shape[0]} rows.")
    
    Xy_OLRE = Xy[["TeamName", "Tournament Wins", "WinPercentage", "PointDIFF", "WAB", "Top30Wins", "ADJOE", "ADJDE", "PomOrdinalRank"]]
    
    if Xy_OLRE.shape[0] != 68 and Xy_OLRE.shape[0] != 64:
        raise Exception(f"Expected 68 rows in dataframe (one for each team). Found {Xy_OLRE.shape[0]} rows.")

    if Xy_OLRE.isna().sum().sum() != 0:
        raise Exception("Detected NaN in dataframe")

    Xy_OLRE.to_csv(f"./datasets/Xy_OLRE_{gender}_{year}.csv", index=False)

    Xy_train = []

    # Build the training data for the logistic regression model
    for i in range(tourney_compact.shape[0]):
        WTeamID = tourney_compact.at[i, "WTeamID"]
        LTeamID = tourney_compact.at[i, "LTeamID"]

        if Xy[Xy["TeamID"] == WTeamID].shape[0] == 0 or Xy[Xy["TeamID"] == LTeamID].shape[0] == 0:
            # At least one of these teams are not in the round of 64 (i.e. eliminated in play-in)
            continue
            
        regressors = ["TeamName", "ADJOE", "ADJDE", "BARTHAG", "EFG%", "EFGD%", "FTR", "FTRD", "TOR", "TORD", "ORB", "DRB", "2P%", "2P%D", "3P%", "3P%D", "3P%ODDIFF", "3PR", "3PRD", "ADJ T.", "Top30Wins", "PomOrdinalRank"]
        WTeam = Xy[Xy["TeamID"] == WTeamID][regressors]
        LTeam = Xy[Xy["TeamID"] == LTeamID][regressors]

        WTeamProb = 1.0
        if tourney_compact.at[i, "WScore"] - tourney_compact.at[i, "LScore"] <= 3:
            WTeamProb = 0.51
        
        Xy_train.append(
            pd.concat([
                pd.Series({"0_ProbWin": WTeamProb}),
                WTeam.iloc[0].rename(index={ regressor: f"0_{regressor}" for regressor in regressors}),
                LTeam.iloc[0].rename(index={ regressor: f"1_{regressor}" for regressor in regressors}),
            ])
        )

        # Reverse order to eliminate bias
        Xy_train.append(
            pd.concat([
                pd.Series({"0_ProbWin": 1.0 - WTeamProb}),
                LTeam.iloc[0].rename(index={ regressor: f"0_{regressor}" for regressor in regressors}),
                WTeam.iloc[0].rename(index={ regressor: f"1_{regressor}" for regressor in regressors}),
            ])
        )

    Xy_train = pd.DataFrame(Xy_train)
    Xy_train.to_csv(f"./datasets/Xy_WinProb_{gender}_{year}.csv", index=False)
    
    return Xy_OLRE, Xy_train

In [105]:
M_years = [2014, 2015, 2016, 2017, 2018, 2019, 2021, 2022, 2023, 2024, 2024] # skip 2020
W_years = [2021, 2022, 2023, 2024, 2024]

for year in M_years:
    get_dataframe_by_year(year, "M")

for year in W_years:
    get_dataframe_by_year(year, "W")

[2, 1, 2, 3, 0, 1, 6, 1, 0, 0, 0, 1, 0, 0, 0, 0, 4, 1, 1, 2, 0, 0, 0, 0, 1, 2, 3, 1, 0, 0, 0, 0, 0, 1, 3, 0, 2, 1, 0, 1, 5, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 3, 4, 1, 2, 0, 2, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0]
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Manual override for 'George Washington' -> 'G Washington'
Manual override for 'Saint Joseph's' -> 'St Joseph's PA'
Mutating Torvik dataframe team name from 'North Carolina Central' -> 'NC Central'
Manual override for 'Milwaukee' -> 'WI Milwaukee'
Manual override for 'Coastal Carolina' -> 'Coastal Car'
Mutating Torvik dataframe team name from 'Ohio St.' -> 'Ohio St'
Manual override for 'Stephen F. Austin' -> 'SF Austin'
Manual override for 'Western Michigan' -> 'W Michigan'
Mutating Torvik dataframe team name from 'Eastern Kentucky' -> 'E Kentucky'
Manual override for 'Albany' -> 'SUNY Albany'
Manual override for 'Mount St. Mary's' -> 'Mt St Mary's'
Mutating Torvik dataframe team name from 'Wichita St.' -> 'Wichita St'
Mutating Torvik dataframe team name from 'Saint Louis' -> 'St Louis'
Mutating Torvik dataframe team name from 'Kansas St.' -> 'Kansas St'
Mutating Torvik dataframe team name from 'Arizona St.' -> 'Arizona St'
Manual override for 'N.C. State' -> 'NC State'
Manual override for 'Texas Southern' -> 'TX Southern'
Mutating Torvik dataframe team name from 'San Diego St.' -> 'San Diego St'
Mutating Torvik dataframe team name from 'Oklahoma St.' -> 'Oklahoma St'
Manual override for 'North Dakota St.' -> 'N Dakota St'
Mutating Torvik dataframe team name from 'New Mexico St.' -> 'New Mexico St'
Manual override for 'American' -> 'American Univ'
Mutating Torvik dataframe team name from 'Weber St.' -> 'Weber St'
[1, 1, 2, 3, 1, 0, 4, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 6, 3, 0, 1, 2, 0, 1, 1, 0, 0, 2, 0, 0, 1, 0, 0, 0, 4, 1, 3, 1, 2, 1, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 3, 0, 2, 1, 2, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0]
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Manual override for 'N.C. State' -> 'NC State'
Mutating Torvik dataframe team name from 'Boise St.' -> 'Boise St'
Manual override for 'Albany' -> 'SUNY Albany'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Mutating Torvik dataframe team name from 'San Diego St.' -> 'San Diego St'
Mutating Torvik dataframe team name from 'St. John's' -> 'St John's'
Manual override for 'Stephen F. Austin' -> 'SF Austin'
Mutating Torvik dataframe team name from 'Eastern Washington' -> 'E Washington'
Manual override for 'North Dakota St.' -> 'N Dakota St'
Mutating Torvik dataframe team name from 'Wichita St.' -> 'Wichita St'
Mutating Torvik dataframe team name from 'New Mexico St.' -> 'New Mexico St'
Mutating Torvik dataframe team name from 'Oklahoma St.' -> 'Oklahoma St'
Mutating Torvik dataframe team name from 'Ohio St.' -> 'Ohio St'
Mutating Torvik dataframe team name from 'Georgia St.' -> 'Georgia St'
Manual override for 'Texas Southern' -> 'TX Southern'
Manual override for 'Coastal Carolina' -> 'Coastal Car'
[5, 1, 0, 1, 2, 3, 2, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 3, 0, 1, 2, 0, 0, 0, 0, 1, 4, 2, 1, 0, 0, 1, 0, 3, 6, 2, 0, 2, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 3, 4, 2, 2, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0]
Manual override for 'Stephen F. Austin' -> 'SF Austin'
Mutating Torvik dataframe team name from 'Weber St.' -> 'Weber St'
Manual override for 'Fairleigh Dickinson' -> 'F Dickinson'
Manual override for 'Florida Gulf Coast' -> 'FGCU'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Manual override for 'Little Rock' -> 'Ark Little Rock'
Mutating Torvik dataframe team name from 'Fresno St.' -> 'Fresno St'
Manual override for 'Middle Tennessee' -> 'MTSU'
Mutating Torvik dataframe team name from 'Wichita St.' -> 'Wichita St'
Manual override for 'South Dakota St.' -> 'S Dakota St'
Mutating Torvik dataframe team name from 'Oregon St.' -> 'Oregon St'
Manual override for 'Saint Joseph's' -> 'St Joseph's PA'
Manual override for 'Green Bay' -> 'WI Green Bay'
Manual override for 'Cal St. Bakersfield' -> 'CS Bakersfield'
Manual override for 'Southern' -> 'Southern Univ'
[1, 1, 2, 3, 1, 0, 4, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 5, 2, 1, 2, 1, 0, 1, 1, 0, 0, 3, 0, 0, 0, 0, 0, 3, 1, 4, 2, 1, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 6, 3, 2, 2, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0]
Manual override for 'East Tennessee St.' -> 'ETSU'
Mutating Torvik dataframe team name from 'New Mexico St.' -> 'New Mexico St'
Manual override for 'Mount St. Mary's' -> 'Mt St Mary's'
Mutating Torvik dataframe team name from 'Florida St.' -> 'Florida St'
Manual override for 'Saint Mary's' -> 'St Mary's CA'
Manual override for 'Florida Gulf Coast' -> 'FGCU'
Manual override for 'South Dakota St.' -> 'S Dakota St'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Mutating Torvik dataframe team name from 'Oklahoma St.' -> 'Oklahoma St'
Mutating Torvik dataframe team name from 'Jacksonville St.' -> 'Jacksonville St'
Mutating Torvik dataframe team name from 'North Carolina Central' -> 'NC Central'
Mutating Torvik dataframe team name from 'Wichita St.' -> 'Wichita St'
Mutating Torvik dataframe team name from 'Kansas St.' -> 'Kansas St'
Manual override for 'Middle Tennessee' -> 'MTSU'
Manual override for 'Kent St.' -> 'Kent'
Mutating Torvik dataframe team name from 'Northern Kentucky' -> 'N Kentucky'
Manual override for 'Texas Southern' -> 'TX Southern'
[6, 2, 3, 0, 2, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 4, 3, 1, 1, 2, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 1, 0, 2, 0, 2, 0, 3, 0, 4, 0, 1, 0, 0, 1, 1, 1, 5, 2, 1, 1, 2, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0]
Mutating Torvik dataframe team name from 'Wichita St.' -> 'Wichita St'
Mutating Torvik dataframe team name from 'St. Bonaventure' -> 'St Bonaventure'
Mutating Torvik dataframe team name from 'Murray St.' -> 'Murray St'
Manual override for 'Stephen F. Austin' -> 'SF Austin'
Manual override for 'Cal St. Fullerton' -> 'CS Fullerton'
Manual override for 'LIU' -> 'LIU Brooklyn'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Manual override for 'N.C. State' -> 'NC State'
Mutating Torvik dataframe team name from 'Arizona St.' -> 'Arizona St'
Mutating Torvik dataframe team name from 'New Mexico St.' -> 'New Mexico St'
Manual override for 'Charleston' -> 'Col Charleston'
Mutating Torvik dataframe team name from 'Kansas St.' -> 'Kansas St'
Manual override for 'Loyola Chicago' -> 'Loyola-Chicago'
Mutating Torvik dataframe team name from 'Wright St.' -> 'Wright St'
Mutating Torvik dataframe team name from 'Georgia St.' -> 'Georgia St'
Mutating Torvik dataframe team name from 'Ohio St.' -> 'Ohio St'
Mutating Torvik dataframe team name from 'Florida St.' -> 'Florida St'
Mutating Torvik dataframe team name from 'San Diego St.' -> 'San Diego St'
Manual override for 'South Dakota St.' -> 'S Dakota St'
Mutating Torvik dataframe team name from 'North Carolina Central' -> 'NC Central'
Manual override for 'Texas Southern' -> 'TX Southern'
[3, 4, 2, 2, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 3, 2, 5, 2, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 3, 2, 1, 4, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 6, 2, 3, 0, 0, 1, 0, 0, 1, 1, 0, 2, 1, 0, 0, 0]
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Mutating Torvik dataframe team name from 'Mississippi St.' -> 'Mississippi St'
Mutating Torvik dataframe team name from 'Saint Louis' -> 'St Louis'
Manual override for 'North Dakota St.' -> 'N Dakota St'
Mutating Torvik dataframe team name from 'North Carolina Central' -> 'NC Central'
Mutating Torvik dataframe team name from 'Florida St.' -> 'Florida St'
Mutating Torvik dataframe team name from 'Arizona St.' -> 'Arizona St'
Mutating Torvik dataframe team name from 'St. John's' -> 'St John's'
Mutating Torvik dataframe team name from 'Murray St.' -> 'Murray St'
Mutating Torvik dataframe team name from 'Northern Kentucky' -> 'N Kentucky'
Manual override for 'Fairleigh Dickinson' -> 'F Dickinson'
Manual override for 'Prairie View A&M' -> 'Prairie View'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Mutating Torvik dataframe team name from 'Utah St.' -> 'Utah St'
Mutating Torvik dataframe team name from 'Ohio St.' -> 'Ohio St'
Mutating Torvik dataframe team name from 'New Mexico St.' -> 'New Mexico St'
Mutating Torvik dataframe team name from 'Georgia St.' -> 'Georgia St'
Manual override for 'Abilene Christian' -> 'Abilene Chr'
Mutating Torvik dataframe team name from 'Kansas St.' -> 'Kansas St'
Manual override for 'Saint Mary's' -> 'St Mary's CA'
[3, 2, 0, 2, 1, 0, 0, 1, 0, 1, 0, 4, 0, 0, 1, 0, 0, 0, 5, 1, 1, 0, 2, 3, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 4, 1, 1, 0, 0, 0, 2, 0, 1, 2, 3, 0, 0, 0, 0, 6, 0, 3, 0, 2, 1, 1, 0, 1, 0, 0, 0, 1, 0, 2, 0]
Mutating Torvik dataframe team name from 'Florida St.' -> 'Florida St'
Mutating Torvik dataframe team name from 'St. Bonaventure' -> 'St Bonaventure'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Manual override for 'Abilene Christian' -> 'Abilene Chr'
Manual override for 'Mount St. Mary's' -> 'Mt St Mary's'
Manual override for 'Texas Southern' -> 'TX Southern'
Mutating Torvik dataframe team name from 'Wichita St.' -> 'Wichita St'
Mutating Torvik dataframe team name from 'Eastern Washington' -> 'E Washington'
Mutating Torvik dataframe team name from 'Appalachian St.' -> 'Appalachian St'
Mutating Torvik dataframe team name from 'Norfolk St.' -> 'Norfolk St'
Mutating Torvik dataframe team name from 'Oklahoma St.' -> 'Oklahoma St'
Mutating Torvik dataframe team name from 'San Diego St.' -> 'San Diego St'
Manual override for 'Loyola Chicago' -> 'Loyola-Chicago'
Mutating Torvik dataframe team name from 'Oregon St.' -> 'Oregon St'
Mutating Torvik dataframe team name from 'Morehead St.' -> 'Morehead St'
Mutating Torvik dataframe team name from 'Cleveland St.' -> 'Cleveland St'
Mutating Torvik dataframe team name from 'Ohio St.' -> 'Ohio St'
Mutating Torvik dataframe team name from 'Utah St.' -> 'Utah St'
[1, 0, 2, 2, 1, 1, 1, 5, 0, 0, 0, 0, 0, 0, 0, 3, 0, 2, 4, 2, 3, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 6, 1, 1, 2, 0, 0, 0, 0, 1, 3, 2, 1, 0, 0, 0, 0, 0, 2, 4, 1, 1, 3, 0, 1, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0]
Manual override for 'Saint Mary's' -> 'St Mary's CA'
Mutating Torvik dataframe team name from 'Murray St.' -> 'Murray St'
Mutating Torvik dataframe team name from 'Saint Peter's' -> 'St Peter's'
Mutating Torvik dataframe team name from 'Norfolk St.' -> 'Norfolk St'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Mutating Torvik dataframe team name from 'Boise St.' -> 'Boise St'
Mutating Torvik dataframe team name from 'New Mexico St.' -> 'New Mexico St'
Mutating Torvik dataframe team name from 'Montana St.' -> 'Montana St'
Manual override for 'Cal St. Fullerton' -> 'CS Fullerton'
Mutating Torvik dataframe team name from 'Georgia St.' -> 'Georgia St'
Mutating Torvik dataframe team name from 'San Diego St.' -> 'San Diego St'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Manual override for 'South Dakota St.' -> 'S Dakota St'
Mutating Torvik dataframe team name from 'Jacksonville St.' -> 'Jacksonville St'
Manual override for 'Texas A&M Corpus Chris' -> 'TAM C. Christi'
Manual override for 'Texas Southern' -> 'TX Southern'
Mutating Torvik dataframe team name from 'Colorado St.' -> 'Colorado St'
Mutating Torvik dataframe team name from 'Ohio St.' -> 'Ohio St'
Manual override for 'Loyola Chicago' -> 'Loyola-Chicago'
Mutating Torvik dataframe team name from 'Wright St.' -> 'Wright St'
[0, 1, 3, 2, 1, 1, 2, 0, 4, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 1, 0, 5, 3, 1, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 2, 3, 2, 1, 4, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 3, 6, 1, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Mutating Torvik dataframe team name from 'Kansas St.' -> 'Kansas St'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Manual override for 'Florida Atlantic' -> 'FL Atlantic'
Mutating Torvik dataframe team name from 'Montana St.' -> 'Montana St'
Manual override for 'Fairleigh Dickinson' -> 'F Dickinson'
Manual override for 'Texas Southern' -> 'TX Southern'
Mutating Torvik dataframe team name from 'San Diego St.' -> 'San Diego St'
Mutating Torvik dataframe team name from 'Utah St.' -> 'Utah St'
Manual override for 'N.C. State' -> 'NC State'
Manual override for 'Charleston' -> 'Col Charleston'
Manual override for 'Southeast Missouri St.' -> 'SE Missouri St'
Manual override for 'Texas A&M Corpus Chris' -> 'TAM C. Christi'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Mutating Torvik dataframe team name from 'Penn St.' -> 'Penn St'
Mutating Torvik dataframe team name from 'Mississippi St.' -> 'Mississippi St'
Manual override for 'Kent St.' -> 'Kent'
Manual override for 'Kennesaw St.' -> 'Kennesaw'
Mutating Torvik dataframe team name from 'Northern Kentucky' -> 'N Kentucky'
Manual override for 'Saint Mary's' -> 'St Mary's CA'
Mutating Torvik dataframe team name from 'Boise St.' -> 'Boise St'
Mutating Torvik dataframe team name from 'Arizona St.' -> 'Arizona St'
[6, 2, 3, 0, 2, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 2, 2, 1, 4, 0, 3, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 5, 3, 2, 1, 2, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 3, 0, 0, 0, 0, 1, 0, 1, 4, 1, 0, 1, 0, 0]
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Mutating Torvik dataframe team name from 'San Diego St.' -> 'San Diego St'
Mutating Torvik dataframe team name from 'Washington St.' -> 'Washington St'
Manual override for 'Florida Atlantic' -> 'FL Atlantic'
Mutating Torvik dataframe team name from 'Morehead St.' -> 'Morehead St'
Manual override for 'South Dakota St.' -> 'S Dakota St'
Manual override for 'Saint Mary's' -> 'St Mary's CA'
Mutating Torvik dataframe team name from 'Mississippi St.' -> 'Mississippi St'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Manual override for 'Charleston' -> 'Col Charleston'
Mutating Torvik dataframe team name from 'Long Beach St.' -> 'Long Beach St'
Mutating Torvik dataframe team name from 'Utah St.' -> 'Utah St'
Mutating Torvik dataframe team name from 'Colorado St.' -> 'Colorado St'
Mutating Torvik dataframe team name from 'McNeese St.' -> 'McNeese St'
Mutating Torvik dataframe team name from 'Saint Peter's' -> 'St Peter's'
Manual override for 'Grambling St.' -> 'Grambling'
Mutating Torvik dataframe team name from 'Montana St.' -> 'Montana St'
Mutating Torvik dataframe team name from 'Boise St.' -> 'Boise St'
Manual override for 'N.C. State' -> 'NC State'
Manual override for 'Western Kentucky' -> 'WKU'
[6, 2, 3, 0, 2, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 2, 2, 1, 4, 0, 3, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 5, 3, 2, 1, 2, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 3, 0, 0, 0, 0, 1, 0, 1, 4, 1, 0, 1, 0, 0]
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Mutating Torvik dataframe team name from 'San Diego St.' -> 'San Diego St'
Mutating Torvik dataframe team name from 'Washington St.' -> 'Washington St'
Manual override for 'Florida Atlantic' -> 'FL Atlantic'
Mutating Torvik dataframe team name from 'Morehead St.' -> 'Morehead St'
Manual override for 'South Dakota St.' -> 'S Dakota St'
Manual override for 'Saint Mary's' -> 'St Mary's CA'
Mutating Torvik dataframe team name from 'Mississippi St.' -> 'Mississippi St'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Manual override for 'Charleston' -> 'Col Charleston'
Mutating Torvik dataframe team name from 'Long Beach St.' -> 'Long Beach St'
Mutating Torvik dataframe team name from 'Utah St.' -> 'Utah St'
Mutating Torvik dataframe team name from 'Colorado St.' -> 'Colorado St'
Mutating Torvik dataframe team name from 'McNeese St.' -> 'McNeese St'
Mutating Torvik dataframe team name from 'Saint Peter's' -> 'St Peter's'
Manual override for 'Grambling St.' -> 'Grambling'
Mutating Torvik dataframe team name from 'Montana St.' -> 'Montana St'
Mutating Torvik dataframe team name from 'Boise St.' -> 'Boise St'
Manual override for 'N.C. State' -> 'NC State'
Manual override for 'Western Kentucky' -> 'WKU'
[6, 3, 1, 0, 2, 2, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 4, 2, 1, 1, 2, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 5, 3, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 4, 3, 1, 1, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]
Mutating Torvik dataframe team name from 'Missouri St.' -> 'Missouri St'
Mutating Torvik dataframe team name from 'Oklahoma St.' -> 'Oklahoma St'
Mutating Torvik dataframe team name from 'Wright St.' -> 'Wright St'
Mutating Torvik dataframe team name from 'Oregon St.' -> 'Oregon St'
Mutating Torvik dataframe team name from 'Florida St.' -> 'Florida St'
Manual override for 'Stephen F. Austin' -> 'SF Austin'
Manual override for 'Mount St. Mary's' -> 'Mt St Mary's'
Manual override for 'N.C. State' -> 'NC State'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Mutating Torvik dataframe team name from 'Washington St.' -> 'Washington St'
Mutating Torvik dataframe team name from 'Michigan St.' -> 'Michigan St'
Mutating Torvik dataframe team name from 'North Carolina A&T' -> 'NC A&T'
Manual override for 'South Dakota St.' -> 'S Dakota St'
Manual override for 'Florida Gulf Coast' -> 'FGCU'
Manual override for 'Central Michigan' -> 'C Michigan'
Mutating Torvik dataframe team name from 'Idaho St.' -> 'Idaho St'
Manual override for 'Middle Tennessee' -> 'MTSU'
Mutating Torvik dataframe team name from 'Jackson St.' -> 'Jackson St'
[3, 5, 2, 1, 2, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 4, 3, 1, 2, 0, 2, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 6, 1, 2, 1, 2, 1, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 4, 1, 3, 2, 0, 0, 0, 0, 1, 2, 1, 1, 0, 0, 0, 0]
Manual override for 'N.C. State' -> 'NC State'
Mutating Torvik dataframe team name from 'Washington St.' -> 'Washington St'
Mutating Torvik dataframe team name from 'Kansas St.' -> 'Kansas St'
Manual override for 'IU Indy' -> 'IUPUI'
Manual override for 'Mount St. Mary's' -> 'Mt St Mary's'
Mutating Torvik dataframe team name from 'Ohio St.' -> 'Ohio St'
Mutating Torvik dataframe team name from 'Florida St.' -> 'Florida St'
Mutating Torvik dataframe team name from 'Missouri St.' -> 'Missouri St'
Manual override for 'Florida Gulf Coast' -> 'FGCU'
Mutating Torvik dataframe team name from 'Jackson St.' -> 'Jackson St'
Mutating Torvik dataframe team name from 'Montana St.' -> 'Montana St'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'
Manual override for 'Stephen F. Austin' -> 'SF Austin'
Mutating Torvik dataframe team name from 'Illinois St.' -> 'Illinois St'
Manual override for 'American' -> 'American Univ'
Manual override for 'Albany' -> 'SUNY Albany'
[4, 3, 2, 2, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 5, 1, 1, 3, 2, 0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 2, 6, 2, 0, 1, 0, 0, 3, 1, 0, 1, 0, 0, 0, 0, 0, 4, 2, 3, 2, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0]
Mutating Torvik dataframe team name from 'Mississippi St.' -> 'Mississippi St'
Manual override for 'Sacramento St.' -> 'CS Sacramento'
Mutating Torvik dataframe team name from 'Norfolk St.' -> 'Norfolk St'
Mutating Torvik dataframe team name from 'Florida St.' -> 'Florida St'
Manual override for 'Middle Tennessee' -> 'MTSU'
Manual override for 'Southeastern Louisiana' -> 'SE Louisiana'
Manual override for 'Southern' -> 'Southern Univ'
Mutating Torvik dataframe team name from 'Washington St.' -> 'Washington St'
Manual override for 'N.C. State' -> 'NC State'
Mutating Torvik dataframe team name from 'Oklahoma St.' -> 'Oklahoma St'
Manual override for 'Florida Gulf Coast' -> 'FGCU'
Mutating Torvik dataframe team name from 'Cleveland St.' -> 'Cleveland St'
Manual override for 'Monmouth' -> 'Monmouth NJ'
Mutating Torvik dataframe team name from 'Ohio St.' -> 'Ohio St'
Mutating Torvik dataframe team name from 'Iowa St.' -> 'Iowa St'

In [63]:
team_name = "LIU Brooklyn"
year = 2018
ncaa_tourney_seeds['M'][lambda df: (df['Season'] == year) & (df['TeamID'] == MTeamNameToID[team_name])]

      Season  Seed  TeamID
2166    2018  W16a    1254

# Plotting Histograms

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
def plot_by_year(year, gender):
    assert gender == "M" or gender == "W"
    Xy_OLRE, _ = get_dataframe_by_year(year, gender)
    
    fig, ax = plt.subplots()
    ax.hist(Xy_OLRE["Tournament Wins"])
    ax.set_title(f"Distribution of {gender}{year} Tournament Wins")
    ax.set_ylabel("Number of Teams")
    ax.set_xlabel("Number of Tournament Wins")
    fig.savefig(f"./images/distribution-{gender}-{year}-tournament-wins.png")

    fig, ax = plt.subplots()
    ax.hist(Xy_OLRE["WinPercentage"], bins=10)
    ax.set_title(f"Distribution of Win Percentage By Teams in {gender}{year} Tournament")
    ax.set_ylabel("Number of Teams")
    ax.set_xlabel("Win %")
    fig.savefig(f"./images/distribution-{gender}-{year}-win-percentage.png")

    pointDiff_min, pointDiff_max = int(Xy_OLRE["PointDIFF"].min()), int(Xy_OLRE["PointDIFF"].max())
    fig, ax = plt.subplots()

    ax.hist(Xy_OLRE["PointDIFF"].to_numpy(), bins=10)
    ax.set_title(f"Distribution of Regular Season Point Differential By Teams in {gender}{year} Tournament")
    ax.set_ylabel("Number of Teams")
    ax.set_xlabel("Point Differentials")
    fig.savefig(f"./images/distribution-{gender}-{year}-point-differentials.png")

    fig, ax = plt.subplots()
    ax.hist(Xy_OLRE["WAB"])
    ax.set_title(f"Distribution of Wins Above Bubble By Teams in {gender}{year} Tournament")
    ax.set_ylabel("Number of Teams")
    ax.set_xlabel("Wins Above Bubble")
    fig.savefig(f"./images/distribution-{gender}-{year}-wins-above-bubble.png")

    fig, ax = plt.subplots()
    ax.hist(Xy_OLRE["Top30Wins"])
    ax.set_title(f"Distribution of Wins Against Top 30 Teams By Teams in {gender}{year} Tournament")
    ax.set_ylabel("Number of Teams")
    ax.set_xlabel("Top 30 Wins")
    fig.savefig(f"./images/distribution-{gender}-{year}-top-30-wins.png")

In [ ]:
# plot_by_year(2024, "M")

# Predict