In [23]:
!ls ./datasets/kaggle/

MMasseyOrdinals.csv		MNCAATourneySeeds.csv		  MTeams.csv
MNCAATourneyCompactResults.csv	MRegularSeasonCompactResults.csv
team_2024.csv

In [24]:
!ls ./datasets/torvik/mens/

team_2024.csv

In [6]:
import pandas as pd
import numpy as np

In [7]:
m_teams = pd.read_csv("./datasets/kaggle/MTeams.csv")
m_teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2025
1    1102    Air Force           1985          2025
2    1103        Akron           1985          2025
3    1104      Alabama           1985          2025
4    1105  Alabama A&M           2000          2025

In [8]:
teamIDToName = {}
teamNameToID = {}

for row in range(m_teams.shape[0]):
    teamID = m_teams.iloc[row]["TeamID"].item()
    teamName = m_teams.iloc[row]["TeamName"]
    teamIDToName[teamID] = teamName
    teamNameToID[teamName] = teamID

In [9]:
m_massey_ordinals = pd.read_csv("./datasets/kaggle/MMasseyOrdinals.csv")
m_massey_ordinals[m_massey_ordinals["SystemName"] == "POM"].tail()

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
5520900    2025            121        POM    1476          318
5520901    2025            121        POM    1477          330
5520902    2025            121        POM    1478          353
5520903    2025            121        POM    1479          342
5520904    2025            121        POM    1480          350

In [10]:
m_ncaa_regular_season = pd.read_csv("./datasets/kaggle/MRegularSeasonCompactResults.csv")
m_ncaa_regular_season[m_ncaa_regular_season["Season"] == 2024].head()

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
181682    2024       0     1101      64     1329      59    A      0
181683    2024       0     1103      81     1355      75    A      0
181684    2024       0     1104     105     1287      73    H      0
181685    2024       0     1112     122     1288      59    H      0
181686    2024       0     1114      71     1402      66    H      0

In [11]:
m_ncaa_tourney_compact = pd.read_csv("./datasets/kaggle/MNCAATourneyCompactResults.csv")
m_ncaa_tourney_compact[m_ncaa_tourney_compact["Season"] == 2024].head()

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
2451    2024     134     1161      67     1438      42    N      0
2452    2024     134     1447      71     1224      68    N      0
2453    2024     135     1160      60     1129      53    N      0
2454    2024     135     1212      88     1286      81    N      0
2455    2024     136     1112      85     1253      65    N      0

In [12]:
m_ncaa_tourney_seeds = pd.read_csv("./datasets/kaggle/MNCAATourneySeeds.csv")
m_ncaa_tourney_seeds[m_ncaa_tourney_seeds["Season"] == 2024].head()

      Season Seed  TeamID
2490    2024  W01    1163
2491    2024  W02    1235
2492    2024  W03    1228
2493    2024  W04    1120
2494    2024  W05    1361

In [13]:
# For each year Y: 
# For each team T that played in the tournament in year Y (ignore teams eliminated in play-in round):
# Record the number of wins by team T in the tournament in year Y, and collect the covariates for OLRE model

# Covariates:
# winning percentage at the end of the regular season (WINPCT)
# point differential at the end of the regular season (DIFF)
# wins above bubble (WAB)
# number of wins against teams rated in the Top 30 based on Torvik's ratings at the end of the regular season (TOP30WIN)

# Let's do this for mens in year 2024

year = 2024
tourney_seeds = m_ncaa_tourney_seeds[m_ncaa_tourney_seeds["Season"] == year].reset_index(drop=True)
tourney_compact = m_ncaa_tourney_compact[m_ncaa_tourney_compact["Season"] == year].reset_index(drop=True)

teamIDs_round_64 = []
teamNames_round_64 = []

for i in range(tourney_seeds.shape[0]):
    teamID = tourney_seeds.at[i, "TeamID"]
    seed = tourney_seeds.at[i, "Seed"]
    if len(seed) > 3:
        # competed in the play-in round
        # check if they made it past this round
        team_tournament_games_won = tourney_compact[lambda df: df["WTeamID"] == teamID]
        if team_tournament_games_won.shape[0] == 0:
            # this means the play-in team won zero games (i.e. didn't make it past play-in round)
            continue
            
    teamIDs_round_64.append(teamID)
    teamNames_round_64.append(m_teams[m_teams["TeamID"] == teamID].iloc[0]["TeamName"])

if len(teamIDs_round_64) != 64:
    raise Exception(f"Expected 64 teams, found {len(teamIDs_round_64)} teams")

# For each of these 64 teams, compute how many games they won in the tournament (ignoring play-in games)
n_tournament_games_won = []

for teamID in teamIDs_round_64:
    # Tournament games won
    team_tournament_games_won = tourney_compact[lambda df: df["WTeamID"] == teamID]
    seed = tourney_seeds[tourney_seeds["TeamID"] == teamID].iloc[0]["Seed"]
    n_games_won = team_tournament_games_won.shape[0] - (0 if len(seed) == 3 else 1)
    n_tournament_games_won.append(n_games_won)  

n_tournament_games_won = np.array(n_tournament_games_won)
if n_tournament_games_won.sum() != 32 + 16 + 8 + 4 + 2 + 1:
    raise Exception(f"Expected total of {32 + 16 + 8 + 4 + 2 + 1} games won across all teams in the tournament, found {n_tournament_games_won.sum()}")

m_ncaa_tourney_wins = pd.DataFrame(np.array([teamIDs_round_64, teamNames_round_64, n_tournament_games_won]).T, columns=["TeamID", "TeamName", "Tournament Wins"])
m_ncaa_tourney_wins

   TeamID       TeamName Tournament Wins
0    1163    Connecticut               6
1    1235        Iowa St               2
2    1228       Illinois               3
3    1120         Auburn               0
4    1361   San Diego St               2
..    ...            ...             ...
59   1241  James Madison               1
60   1436        Vermont               0
61   1324        Oakland               1
62   1443            WKU               0
63   1255       Longwood               0

[64 rows x 3 columns]

In [14]:
m_torvik_team_2024 = pd.read_csv("./datasets/torvik/mens/team_2024.csv")
m_torvik_team_2024 = m_torvik_team_2024.dropna(axis=1, how="all")
m_torvik_team_2024.iloc[0]

TeamName        UC Santa Barbara
ADJOE                 104.517757
ADJDE                 109.958647
BARTHAG                 0.358106
Record                     14–15
Wins                          14
Games Played                  29
EFG%                        53.3
EFGD%                       50.6
FTR                         39.7
FTRD                        31.0
TOR                         19.1
TORD                        14.3
ORB                         25.2
DRB                         26.6
Unnamed: 15                 68.5
2P%                         53.4
2P%D                        51.8
3P%                         35.4
3P%D                        32.1
Unnamed: 20                  7.9
Unnamed: 21                  7.1
Unnamed: 22                 50.0
Unnamed: 23                 45.9
3PR                         30.5
3PRD                        33.7
ADJ T.                      68.2
Unnamed: 30                 2024
WAB                   -10.710547
Unnamed: 35                 74.4
Unnamed: 36                 68.2
Name: 0, dtype: object

In [15]:
# Iterate through all Torvik team names, and check if it exists in the Kaggle Teams dataset.
# If no match exists, find the match and populate the conversion map.
# After some thinking, I realize it's more efficient to check the names of teams in the tournament, not all D1 schools.

# torvikToKaggleTeamName = {
#     "Arkansas Pine Bluff": "Ark Pine Bluff",
#     "Central Michigan": "C Michigan",
#     "FIU": "Florida Intl",
#     "Illinois Chicago": "IL Chicago",
#     "Florida Atlantic": "FL Atlantic",
#     "Cal St. Northridge": "CS Northridge",
#     "Abilene Christian": "Abilene Chr",
#     "UMKC": "Missouri KC",
#     "Northern Illinois": "N Illinois",
#     "Kent St": "Kent",
#     "Central Arkansas": "Cent Arkansas",
#     "American": "American Univ",
#     "UTSA": "UT San Antonio",
#     "Prairie View A&M": "Prairie View",
#     "Georgia Southern": "Ga Southern",
#     "Tennessee Martin": "TN Martin",
#     "LIU": "LIU Brooklyn",
#     "Loyola Chicago": "Loyola-Chicago",
#     "Maryland Eastern Shore": "MD E Shore",
#     "Fairleigh Dickinson": "F Dickinson",
#     "Queens": "Queens NC",
#     "Nebraska Omaha": "NE Omaha",
# }

In [16]:
# Go through all Torvik team names, make sure we can match them with the team names in the Kaggle dataset
kaggleToTorvikTeamNames = {
    "FL Atlantic": "Florida Atlantic",
    "St Mary's CA": "Saint Mary's",
    "Col Charleston": "Charleston",
    "S Dakota St": "South Dakota St.",
    "Grambling": "Grambling St.",
    "NC State": "North Carolina",
    "WKU": "Western Kentucky",
}

def preprocess_torvik_dataframe(torvik_df):
    torvik_teams = torvik_df["TeamName"]
    matches_torvik_teamName = lambda kaggle_teamName: ((torvik_teams == kaggle_teamName).sum().item() == 1)
    
    for kaggle_teamName in teamNames_round_64:
        if matches_torvik_teamName(kaggle_teamName):
            continue
            
        if kaggle_teamName.startswith("St "):
            test_teamName = "Saint" + kaggle_teamName[kaggle_teamName.index("St") + len("St"):]
            print(f"No match for '{kaggle_teamName}'\t checking if '{test_teamName}' exists")
            if matches_torvik_teamName(test_teamName):
                torvik_teams[torvik_teams == test_teamName]["TeamName"] = kaggle_teamName
                continue
                
        if kaggle_teamName.endswith("St"):
            # Looks like Kaggle uses St, while Torvid uses St.
            # We'll just remove the period at the end
            test_teamName = kaggle_teamName + "."
            print(f"No match for '{kaggle_teamName}'\t checking if '{test_teamName}' exists")
            if matches_torvik_teamName(test_teamName):
                torvik_teams[torvik_teams == test_teamName]["TeamName"] = kaggle_teamName
                continue
                
        if teamName.startswith("S "):
            # Looks like Kaggle uses S, while Torvid uses South
            test_teamName = "South" + kaggle_teamName[kaggle_teamName.index("South") + len("South"):]
            print(f"No match for '{kaggle_teamName}'\t checking if '{test_teamName}' exists")
            if matches_torvik_teamName(test_teamName):
                torvik_teams[torvik_teams == test_teamName]["TeamName"] = kaggle_teamName
                continue

        if kaggle_teamName in kaggleToTorvikTeamNames:
            torvik_team = torvik_teams[torvik_teams == kaggleToTorvikTeamNames[kaggle_teamName]]
            if torvik_team.shape[0] != 1:
                raise Exception(f"Expected matching Torvik team name in dataframe as dictionary is populated with key {kaggle_teamName}")
            torvik_team["TeamName"] = kaggle_teamName
            continue
        
        similar = torvik_teams[torvik_teams.str.startswith(kaggle_teamName[0])]
        raise Exception(f"No team name conversion found for Kaggle team name '{kaggle_teamName}'\nThe following are Torvik team names that start with the same character\n{similar}")

In [17]:
preprocess_torvik_dataframe(m_torvik_team_2024)

No match for 'Iowa St'	 checking if 'Iowa St.' exists
No match for 'San Diego St'	 checking if 'San Diego St.' exists
No match for 'Washington St'	 checking if 'Washington St.' exists
No match for 'Morehead St'	 checking if 'Morehead St.' exists
No match for 'S Dakota St'	 checking if 'S Dakota St.' exists
No match for 'St Mary's CA'	 checking if 'Saint Mary's CA' exists
No match for 'Mississippi St'	 checking if 'Mississippi St.' exists
No match for 'Michigan St'	 checking if 'Michigan St.' exists
No match for 'Long Beach St'	 checking if 'Long Beach St.' exists
No match for 'Utah St'	 checking if 'Utah St.' exists
No match for 'Colorado St'	 checking if 'Colorado St.' exists
No match for 'McNeese St'	 checking if 'McNeese St.' exists
No match for 'St Peter's'	 checking if 'Saint Peter's' exists

In [20]:
m_torvik_team_2024.merge(m_ncaa_tourney_wins, on="TeamName")

,TeamName,ADJOE,ADJDE,BARTHAG,Record,Wins,Games Played,EFG%,EFGD%,FTR,...,Unnamed: 23,3PR,3PRD,ADJ T.,Unnamed: 30,WAB,Unnamed: 35,Unnamed: 36,TeamID,Tournament Wins
0,UAB,112.419573,106.883939,0.641225,22–11,22,33,50.1,51.0,40.5,...,48.9,31.3,36.7,68.7,2024,-2.790055,74.3,72.2,1412,0
1,BYU,120.241255,98.462358,0.908711,23–10,23,33,55.1,48.0,25.3,...,47.2,50.7,34.1,70.0,2024,2.305701,73.8,69.8,1140,0
2,Arizona,121.626478,93.320937,0.954630,25–8,25,33,55.0,48.7,36.7,...,52.6,32.6,38.2,73.1,2024,4.852735,71.9,71.1,1112,2
3,Baylor,122.209180,100.496602,0.904609,22–10,22,32,55.6,51.3,40.5,...,52.9,38.3,35.5,66.7,2024,4.471630,74.0,73.0,1124,1
4,Kansas,113.890691,93.348961,0.907819,21–10,21,31,53.4,47.6,32.8,...,51.1,29.7,41.1,69.9,2024,3.770634,72.9,69.9,1242,1
5,Akron,105.727669,101.866664,0.605353,22–10,22,32,52.0,48.6,33.6,...,45.4,41.5,36.8,66.7,2024,-4.642860,72.4,69.4,1103,0
6,Creighton,120.354513,96.263726,0.928808,23–9,23,32,57.5,46.4,24.5,...,40.9,48.9,27.2,67.9,2024,4.394713,78.1,78.7,1166,2
7,Duke,120.738930,96.857124,0.926527,24–8,24,32,55.2,49.0,33.8,...,50.7,37.4,35.5,67.9,2024,3.518321,72.2,69.0,1181,3
8,Texas A&M,115.107897,99.658462,0.839887,20–14,20,34,45.4,50.1,38.2,...,59.9,38.1,44.9,66.6,2024,-0.058199,70.9,70.7,1401,1
9,Nevada,114.340174,98.082814,0.853673,25–7,25,32,53.3,48.2,46.2,...,54.9,33.6,41.0,67.7,2024,2.456057,72.3,69.7,1305,0
10,Nebraska,115.912705,96.914307,0.886815,23–10,23,33,53.2,46.3,32.4,...,52.5,44.5,41.7,69.6,2024,1.950215,75.4,69.9,1304,0
11,Yale,109.744000,100.430660,0.734944,20–9,20,29,52.3,49.7,26.9,...,57.3,35.3,41.4,65.6,2024,-2.713962,70.7,73.8,1463,1
12,Tennessee,115.445190,91.112540,0.938316,24–8,24,32,51.5,45.4,34.3,...,49.5,41.3,41.4,70.2,2024,5.601569,74.9,70.7,1397,3
13,Illinois,124.337316,100.695716,0.918736,26–8,26,34,53.8,48.0,37.8,...,42.6,38.3,27.9,70.8,2024,5.556308,74.5,71.7,1228,3
14,Texas,118.060449,98.447121,0.889858,20–12,20,32,53.7,49.0,30.4,...,47.1,34.9,32.4,68.2,2024,0.660407,75.7,71.9,1400,1
15,Wagner,95.210507,105.440900,0.236188,14–15,14,29,44.6,48.4,26.8,...,59.2,38.2,41.2,62.3,2024,-11.649127,70.7,67.7,1447,0
16,Vermont,105.403400,99.821024,0.651533,26–6,26,32,51.8,46.7,29.7,...,43.2,44.1,36.5,64.3,2024,-1.352457,72.3,72.5,1436,0
17,Northwestern,116.343790,99.689038,0.855286,21–11,21,32,53.2,51.6,29.9,...,58.7,36.8,36.9,64.7,2024,1.109113,74.8,72.0,1321,1
18,Samford,112.226109,102.635632,0.736392,27–5,27,32,56.9,50.0,36.4,...,53.5,40.9,40.1,73.6,2024,0.024228,72.6,69.1,1359,0
19,Auburn,120.503580,92.149328,0.956274,27–7,27,34,54.1,43.4,38.2,...,42.8,37.5,33.3,70.8,2024,5.211373,75.2,73.6,1120,0
20,South Carolina,114.365806,99.209330,0.836847,26–7,26,33,50.8,48.0,31.8,...,47.3,41.0,31.2,64.0,2024,4.727028,71.4,73.0,1376,0
21,Kentucky,122.463258,101.894666,0.892307,23–9,23,32,57.4,49.5,30.4,...,51.9,37.3,39.9,73.5,2024,2.788758,77.3,72.0,1246,0
22,Wisconsin,119.952174,99.035932,0.900565,22–13,22,35,52.4,52.2,33.5,...,47.2,35.4,34.4,66.0,2024,2.900445,75.9,72.5,1458,0
23,Alabama,125.562018,101.375506,0.921336,21–11,21,32,56.3,49.9,35.2,...,45.1,46.8,36.7,73.5,2024,3.306508,78.4,74.3,1104,4
24,Grand Canyon,111.533955,99.896987,0.780260,28–4,28,32,52.0,45.9,45.3,...,48.0,36.1,33.6,69.0,2024,1.446533,75.3,70.8,1213,1
25,Clemson,117.249007,99.211764,0.872250,21–11,21,32,53.9,48.7,30.6,...,44.1,40.2,40.6,67.2,2024,1.040294,79.0,74.4,1155,3
26,Colorado,117.358083,98.182799,0.886108,24–10,24,34,55.3,49.3,35.3,...,43.3,30.4,35.3,68.7,2024,1.676828,77.8,70.7,1160,1
27,TCU,114.323251,97.864352,0.856639,21–12,21,33,51.9,50.3,35.1,...,56.4,30.2,35.2,70.9,2024,0.850599,73.0,69.9,1395,0
28,Oregon,113.605891,99.953237,0.813419,23–11,23,34,51.8,51.5,32.3,...,50.1,36.7,36.2,68.1,2024,1.343533,71.5,72.2,1332,1
29,Florida,119.338776,99.398222,0.891153,24–11,24,35,51.5,48.8,38.6,...,41.0,34.5,32.7,72.6,2024,2.771505,71.2,70.6,1196,0
30,North Carolina,117.833120,93.258364,0.936422,27–7,27,34,51.3,46.4,36.8,...,40.6,35.9,36.1,71.4,2024,6.988274,75.4,74.4,1314,2
31,New Mexico,114.563484,95.538744,0.889768,25–9,25,34,51.0,48.0,33.1,...,54.2,29.8,36.6,73.7,2024,1.484153,71.8,74.0,1307,0
32,Stetson,108.435206,114.138437,0.356754,19–12,19,31,53.4,52.0,31.7,...,49.5,41.8,37.4,66.9,2024,-6.984803,76.3,73.3,1391,0
33,James Madison,111.980705,100.705439,0.772144,30–3,30,33,54.4,46.7,34.2,...,42.0,38.1,35.1,70.8,2024,1.374144,70.5,73.1,1241,1
34,Purdue,126.086069,94.262696,0.965944,29–4,29,33,56.0,47.7,42.8,...,55.1,35.0,37.2,68.6,2024,10.625227,72.1,72.4,1345,5
35,Drake,114.555947,100.191646,0.823574,27–6,27,33,54.9,51.0,32.6,...,41.6,39.6,39.3,68.8,2024,1.623134,76.3,70.2,1179,0
36,Marquette,118.707800,94.294444,0.933875,25–9,25,34,55.1,49.7,25.6,...,59.2,40.5,43.1,70.1,2024,6.551653,71.5,75.3,1266,2
37,Houston,118.540681,85.301410,0.977779,30–4,30,34,49.7,44.0,29.9,...,60.2,36.6,40.9,64.3,2024,9.953168,69.4,67.0,1222,2
38,Connecticut,126.804539,94.120024,0.968564,31–3,31,34,57.1,45.1,33.3,...,46.0,40.9,33.2,65.6,2024,11.237196,74.2,72.2,1163,6
39,Gonzaga,120.580039,98.268549,0.913173,24–7,24,31,56.7,47.3,31.5,...,48.2,31.4,36.9,70.1,2024,2.388701,72.6,72.7,1211,2
40,Duquesne,106.947313,97.191635,0.750259,23–11,23,34,50.1,48.0,33.1,...,52.3,39.7,37.3,67.2,2024,-2.101898,71.4,70.7,1182,1
41,Dayton,117.794888,100.663672,0.859040,24–7,24,31,56.6,47.9,37.2,...,50.7,44.5,40.4,65.0,2024,2.321098,73.4,73.3,1173,1
42,Oakland,108.247426,105.076017,0.584666,23–11,23,34,52.1,50.6,30.9,...,62.4,40.8,40.7,67.7,2024,-4.253138,75.8,73.5,1324,1
43,Colgate,102.325830,102.492028,0.495334,24–9,24,33,53.4,47.2,27.6,...,52.9,38.3,39.6,67.2,2024,-4.207621,68.0,67.0,1159,0
44,Longwood,103.616468,104.193707,0.484033,18–13,18,31,49.4,51.3,39.5,...,49.3,28.3,39.5,67.8,2024,-8.753197,68.8,70.1,1255,0
45,Texas Tech,117.173060,99.075906,0.873173,23–10,23,33,52.8,49.1,34.6,...,46.8,41.1,39.0,67.4,2024,2.781219,77.8,71.0,1403,0